<div class="well hoverwell thumbnail">
  <h2>
    {{event.name}}
    <span style="padding-left:5px">
      <img src="{{event.icon}}" alt="" width=30px height=30px>
    </span>
  </h2>
  <div>Date: {{event.date}}
  </div>
  <div>Time: {{event.time}}</div>
  <div>Price: ${{event.price}}</div>
  <div>
    <span>Location: {{event.location.address}}</span>
    <span>&nbsp;</span>
    <span>{{event.location.city}}, {{event.location.country}}</span>
  </div>
  <div>
    <button class="btn btn-primary" (click)="handleClick()">Click me</button>
  </div>
</div>